* {
  box-sizing: border-box;
}

body {
  background-color: #a9d7d1;
}

#container {
  margin: 0 auto;
  width: 80vw;
  background-color: #fff;
  padding: 20px 30px;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

.row-container {
  margin-bottom: 15px;
}

.row-container>label {
  text-align: right;
}



