* {
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, sans-serif;
}

body {
  background-color: #a9d7d1;
}

#container {
  margin: 0 auto;
  width: 80vw;
  background-color: #fff;
  padding: 20px 30px;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

.row-container {
  margin-bottom: 15px;
}

.left-tab {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  padding-right: 10px;
}

.right-tab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: top;
}

.right-tab>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-tab>textarea {
  width: 80%;
}

@media (min-width: 768px) {
  .right-tab>textarea {
    width: 280px;
  }
}

#submit {
  display: block;
  margin: 0 auto;
}
